<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="styles.css">
  <title>FoodLove</title>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">foodlove
          </a></li>
        <li><a href="matches">matches
          </a></li>
        <li><a href="mijnaccount">account
          </a></li>
      </ul>
    </nav>
  </header>

  <main>
    <h1> Mijn account </h1>
    <% data.forEach(function (entity) { %>
      <article class='resultaten'>
        <h1><%= entity.naam %></h1>
        <h2><%= entity.geboortedatum %></h2>
        <form method="post" action="/updaten">
          <label for="keuken">Favoriete keuken</label>
          <select name="keuken" required>
            <option value="" selected disabled hidden><%= entity.keuker %></option>
              <option value="Chinees">Chinees</option>
              <option value="Surinaams">Surinaams</option>
              <option value="Thais">Thais</option>
              <option value="Oosters">Oosters</option>
              <option value="Frans">Frans</option>
              <option value="Hollands">Hollands</option>
              <option value="Amerikaans">Amerikaans</option>
              <option value="Italiaans">Italiaans</option>
            </select>
          <label for="voorkeur">bent u vegatarisch of veganistisch?</label>
          <select name="voorkeur" required>
            <option value="" selected disabled hidden><%= entity.voorkeur %></option>
            <option value="niet vega of vegan">Geen van beide</option>
            <option value="vegatarisch">Vegatarisch</option>
            <option value="veganistisch">Veganistisch</option>
          </select>
          <label for="locatie">waar eet je graag</label>
          <select name="locatie" required>
            <option value="" selected disabled hidden><%= entity.locatie %></option>
            <option value="geen voorkeur">Geen voorkeur</option>
            <option value="restaurant">Een restaurant</option>
            <option value="thuis">Thuis</option>
            <option value="bij iemand anders">Bij iemand anders</option>
          </select>
          <input class="submitreg" type="submit" value="Updaten">
        </form>
        <form method="post" action="/deleten">
          <input class="submitreg" type="submit" value="delete account">
        </form>
        <p>
          <%= entity.beschrijving %>
        </p>
      </article>
      <% }); %>
        <% if (user) { %>
          <a href="verwijderen" data-method="delete" data-token="{{csrf_token()}}" data-confirm="Weet u het zeker?">verwijder account</a>
          <% } %>

  </main>

  <footer>
  </footer>

</body>

</html>